

.store-header {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 30px;
  border-bottom: 1px solid #333;
}

.store-header__logo-container {
  width: 150px;
}

.store-header img {
  width: 100%;
}

.store-header h1 {
  margin: 0;
  font-size: 24px;
}

.store-header h3 {
  margin: 0;
  font-size: 18px;
}

.store-header__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
